@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");

// 文字樣式
.en-font {
  font-family: "Noto Sans", sans-serif;
}
.num-font {
  font-family: "Tourney", sans-serif;
}
.fs-2 {
  font-size: 32px;
}
.fs-3 {
  font-size: 28px;
}
.fs-4 {
  font-size: 24px;
}
.fs-5 {
  font-size: 20px;
}
.fs-6 {
  font-size: 16px;
}
